header {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: yellow;
}

main {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: green;
}

footer {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: red;
}
